@using EntityLayer.Concrate
@model List<Skill>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	int sayi = 0;
}


<div class="card-header border-0">
	<h3 class="mb-0">Yeteneklerim</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
	<table class="table align-items-center table-dark table-flush">
		<thead class="thead-light">
			<tr>
				<th scope="col" class="sort" data-sort="name">#</th>
				<th scope="col" class="sort" data-sort="budget">Başlık</th>
				<th scope="col" class="sort" data-sort="status">Değer</th>
				<th scope="col" class="sort text-center" data-sort="completion">İşlemler</th>
			</tr>
		</thead>
		<tbody class="list">
			@foreach (var x in Model)
			{

				sayi++;
				<tr>
					<td>@sayi</td>
					<td>@x.Title</td>
					<td>
						<div class="d-flex align-items-center">
							<span class="completion mr-2">@x.Value%</span>
							<div>
								<div class="progress">
									<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@x.Value" aria-valuemin="0" aria-valuemax="100" style="width: @x.Value%;"></div>
								</div>
							</div>
						</div>
					</td>
					<td class="text-center">
						<a href="/Skill/DeleteSkill/@x.SkillID" class="btn btn-outline-danger"><i class="ni ni-fat-remove"></i> Sil</a>
						<a href="/Skill/EditSkill/@x.SkillID" class="btn btn-outline-success" style="margin-left:25px;"><i class="ni ni-scissors"></i> Güncelle</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<br />
<a href="/Skill/AddSkill" class="btn btn-outline-primary"><i class="ni ni-fat-add"></i> Yeni Yetenek Ekle</a>
